/* Fonts */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/woff2/opensans-regular.woff2") format("woff2"),
    url("../fonts/woff/opensans-regular.woff") format("woff"),
    url("../fonts/ttf/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/woff2/roboto-regular.woff2") format("woff2"),
    url("../fonts/woff/roboto-regular.woff") format("woff"),
    url("../fonts/ttf/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/woff2/roboto-medium.woff2") format("woff2"),
    url("../fonts/woff/roboto-medium.woff") format("woff"),
    url("../fonts/ttf/roboto-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/woff2/roboto-bold.woff2") format("woff2"),
    url("../fonts/woff/roboto-bold.woff") format("woff"),
    url("../fonts/ttf/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/woff2/roboto-black.woff2") format("woff2"),
    url("../fonts/woff/roboto-black.woff") format("woff"),
    url("../fonts/ttf/roboto-regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
