// fonts
$openSans: "Open Sans";
$roboto: "Roboto";


// colors
$c-black: "#000";
$c-white: "#fff";
$c-main: "#323c48";
$c-dark: "#252b33";
$c-gray: "#7e8fa4";
$c-blue: "#3482ef";
$c-purple: "#7822f8";
$c-purpleDark: "#8f03fd";
$c-orange: "#ef7c2b";
$c-vividOrange: "#eb6a21";
$c-vividOrangeTwo: "#ffa231";
$c-vividOrangeThree: "#fb9923";
$c-softOrange: "#fcb258";
$c-softOrangeTwo: "#f9cbab";
$c-softOrangeThree: "#f7c4a7";
$c-softOrangeFour: "#fee1bd";
$c-whiteBlue: "#c5cfde";
$c-brightblue: "#3985ec";
$c-vividBlue: "#116fff";
$c-vividBlueTwo: "#0165ff";
$c-softBlue: "#b0cff8";
$c-softRed: "#f45b53";
$c-softBlueTwo: "#5695ed";
$c-vividViolet: "#a430ff";

// sizes
$screen-d: 1366px;
$screen-t: 1024px;
$screen-t-s: 768px;
$screen-m: 640px;
